rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /bakeryPartnerClub/data {
      allow read: if true;
      allow create, update, delete: if request.auth != null
        && request.auth.token.email == "INSERISCI_LA_TUA_EMAIL";
    }
  }
}
